---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.speaker.name | default: site.author }}</p>

{{content}}

{% if page.speaker %}
<hr>
<div class="speaker-info">
  <h3>Speaker</h3>
  <p>{{ page.speaker.name }}</p>
  <p><img src="{{ page.speaker.photo | relative_url }}" alt="{{ page.speaker.name }}" style="width: 100px; border-radius: 8px;"></p>
  <p>Topic: {{ page.talk.topic }}</p>
  {% if page.talk.event_link %}
  <p><a href="{{ page.talk.event_link }}">Meetup Event</a></p>
  {% endif %}
  {% if page.speaker.bio_link %}
  <p>
    <a href="{{ page.speaker.bio_link }}">
      {% include icon-linkedin.html %}
    </a>
  </p>
  {% endif %}
</div>
{% endif %}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}
